absl-py==1.2.0
astunparse==1.6.3
blis==0.9.1
catalogue==2.0.8
chardet==3.0.4
confection==0.0.1
contourpy==1.0.5
cramjam==2.5.0
cymem==2.0.6
en-core-web-sm @ https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-3.4.1/en_core_web_sm-3.4.1-py3-none-any.whl
etils==0.8.0
fastparquet==0.8.3
flatbuffers==2.0.7
gast==0.4.0
google-auth-oauthlib==0.4.6
google-pasta==0.2.0
googletrans==3.1.0a0
h11==0.9.0
h2==3.2.0
hpack==3.0.0
hstspreload==2022.10.1
httpcore==0.9.1
httpx==0.13.3
huggingface-hub==0.9.1
hyperframe==5.2.0
idna==2.10
importlib-resources==5.10.0
jax==0.2.22
joblib==1.2.0
keras==2.10.0
Keras-Preprocessing==1.1.2
langcodes==3.3.0
libclang==14.0.6
lightgbm==3.3.3
matplotlib==3.6.1
murmurhash==1.0.8
mysql-connector-python==8.0.30
mysqlclient==2.1.1
nltk==3.7
oauthlib==3.2.1
opt-einsum==3.3.0
pathy==0.6.2
preshed==3.0.7
pt-core-news-sm @ https://github.com/explosion/spacy-models/releases/download/pt_core_news_sm-3.4.0/pt_core_news_sm-3.4.0-py3-none-any.whl
pyarrow==9.0.0
pydantic==1.9.2
requests-oauthlib==1.3.1
rfc3986==1.5.0
scikit-learn==1.1.3
sentence-transformers==2.2.2
sentencepiece==0.1.97
smart-open==5.2.1
spacy==3.4.2
spacy-legacy==3.0.10
spacy-loggers==1.0.3
srsly==2.4.4
tensorboard==2.10.0
tensorboard-data-server==0.6.1
tensorboard-plugin-wit==1.8.1
tensorflow==2.10.0
tensorflow-estimator==2.10.0
tensorflow-io-gcs-filesystem==0.27.0
termcolor==2.0.1
thinc==8.1.1
tokenizers==0.13.1
torch==1.12.1
torchvision==0.13.1
transformers==4.21.3
typer==0.4.2
wasabi==0.10.1
xgboost==1.6.2
